<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="demo.xml" />
	<bean id="student" class="springioc.Student">
		<!-- setter injection has more priority than constructor injection -->
		<!-- <property name="name" value="sayed" /> <property name="age" value="30" 
			/> <property name="address" value="S G Palya" /> -->
		<constructor-arg index="0" value="moin" />
		<constructor-arg index="1" value="30" />
		<constructor-arg index="2" value="DRDO" />
	</bean>
	<bean id="mark" class="springioc.Marks">
		<property name="english" value="60"></property>
	</bean>
</beans>